@import '../../styles/_variables';

.chat-input {
  display: flex;
  padding: $spacing-medium;

  input {
    flex-grow: 1;
    padding: 0.5rem;
    font-size: 16px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
    margin-left: 2rem;
  }

  button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background-color: $brand-red;
    color: $brand-white;
    border-radius: 0 4px 4px 0;
    margin-right: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:disabled {
      background-color: $brand-gray;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background-color: $brand-gray;
    }

    @media (max-width: $breakpoint-tablet) {
      font-size: 0.9rem;
    }

    @media (max-width: $breakpoint-mobile) {
      font-size: 0.8rem;
    }

    @media (max-width: $breakpoint-mobile-small) {
      font-size: 0.7rem;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    font-size: 0.9rem;
  }

  @media (max-width: $breakpoint-mobile) {
    font-size: 0.8rem;
  }

  @media (max-width: $breakpoint-mobile-small) {
    font-size: 0.7rem;
  }
}
