// src/components/spinner/Spinner.scss
@import '../../styles/_variables';

.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); // Optional: Add a semi-transparent background
  z-index: 1000; // Ensure the overlay is on top of other elements
  transition: 0.3s ease-in-out;
}

.spinner-image {
  width: 10rem;
  height: 10rem;
  animation: spin 2s linear infinite;
  filter: invert(100%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
