@import '../../styles/_variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding-inline: $spacing-medium;
}
