@import '../styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding-inline: $spacing-medium;
}

.app-header {
  display: flex;
  justify-content: center;
  width: 100%;
  color: $brand-white;

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: $header-family;
    font-size: 7rem;
    margin: 0;
    padding-block: 1rem;

    @media (max-width: $breakpoint-tablet) {
      font-size: 5rem;
    }

    @media (max-width: $breakpoint-mobile) {
      font-size: 3.5rem;
    }

    @media (max-width: $breakpoint-mobile-small) {
      font-size: 2.75rem;
    }
  }
}

.chat-messages {
  display: flex;
  flex-direction: column;
  max-height: 76vh;
  overflow-y: auto;
  padding: $spacing-medium;

  background-color: rgba(26, 77, 46, 0.9);
}

.message {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: $border-radius-chat;
  word-wrap: break-word;
  color: black;
  display: flex;
  flex-direction: column;

  h2 {
    color: white
  }

  h3 {
    margin: 0;
    margin-bottom: 0.75rem;
    font-size: 1rem;
    font-weight: lighter;
    color: black;
    text-transform: capitalize;
  }

  &.user {
    display: flex;
    align-self: flex-end;
    text-align: right;
    color: $brand-white;
    background-color: $brand-red;
    width: 60%;
    padding: $spacing-small-new;

    h3 {
      color: white;
    }

    p {
      display: flex;
      justify-content: flex-start;
      color: white;
    }
  }

  &.assistant {
    color: black;
    background-color: white;
    align-self: flex-start;
    text-align: left;
    width: 75%;
    padding: $spacing-small-new
  }

}





.message p {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: black;
}

.paragraph {
  display: flex;
  margin-bottom: 2rem;
}

.bot-typing {
  font-style: italic;
  color: $brand-red;
}

.chat-input {
  display: flex;
  width: 100%;
  padding-block: $spacing-medium;

  background-color: rgba(26, 77, 46, 0.9);
}

.chat-input input {
  flex-grow: 1;
  padding: 0.5rem;
  font-size: 14px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
  margin-left: 2rem;
}

.chat-input button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  background-color: $brand-red;
  color: $brand-white;
  border-radius: 0 4px 4px 0;
  margin-right: 2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chat-input button:disabled {
  background-color: $brand-gray; /* Slightly darker green for disabled button */
  cursor: not-allowed;
}

.chat-input button:hover:not(:disabled) {
  background-color: $brand-gray;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-left-color: $brand-gray;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


h2 {
  color: $brand-white;
  text-align: center;
  margin-bottom: 1rem;
}

p {
  color: $brand-white;
  text-align: center;
  margin-bottom: 2rem;
}
