@import '../../styles/_variables';

.message {
  margin-bottom: 1rem;
  padding: 10px;
  border-radius: $border-radius-chat;
  word-wrap: break-word;
  color: black;
  display: flex;
  flex-direction: column;

  h2 {
    color: white;
  }

  h3 {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-style: italic;
    color: black;
    text-transform: capitalize;
  }

  &.user {
    display: flex;
    align-self: flex-end;
    text-align: right;
    color: $brand-white;
    background-color: $brand-red;
    width: 30%;
    padding: $spacing-small-new;
    padding-bottom: 0;
    margin-left: auto;

    h3 {
      color: white;
    }

    p {
      display: flex;
      justify-content: flex-start;
      color: white;
      padding-bottom: 1rem;
      font-size: 1rem;
      font-weight: lighter;
    }
  }

  &.assistant {
    color: black;
    background-color: white;
    align-self: flex-start;
    text-align: left;
    width: 75%;
    padding: $spacing-tiny;

    // p {
    //   display: flex;
    //   justify-content: flex-start;
    //   align-items: left;
    //   margin: 0;
    //   font-size: 14px;
    //   line-height: 1.5;
    //   color: black;
    // }
  }

  p {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: black;
  }
}

// .paragraph {
//   display: flex;
//   justify-content: flex-start;
//   align-items: left;
//   margin-bottom: 2rem;
// }

.bot-typing {
  font-style: italic;
  color: $brand-red;
}
